.order-book-pg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

table {
  border-collapse: collapse;
  margin: 8px;
  width: 99%;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

button {
  width: 80px;
  height: auto;
  background-color: rgb(13, 150, 196);
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

select {
  width: 140px;
  height: auto;
  padding: 10px;
  border: 1px solid black;
}